<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h4>things are going on in the console</h4>
  <script>
    let arr= [
      "boy",
      "girl",
      "money",
      "goat",
      "buffalo",
      "kenya",
      "direct",
      "python",
      "morbius",
      "venom",
      "denver",
    ]

    arr.forEach( item=>{
      console.log(item)
    })
  </script>
</body>
</html>