<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    div{
      margin: 20px;
      border: 1px solid #ccc;
      background: #444;
      color: red;
      padding: 10px;
      text-align: center;
      max-width: 40%;
      height: 40vh;
    }
  </style>
</head>
<body>
  Quick Test
  <div id="thiss">
    Hover on me
  </div>
  <script>
    const divv= document.getElementById("thiss")


    function run(inp){
      document.body.style.background= "black"
      console.log(inp)
    }
    divv.addEventListener("mouseenter",()=>{
      run("hi console")
    })
  </script>
</body>
</html>